@page
@model RobotCompetitionManager.Pages.CheckPointPage.IndexModel
@{
}

<h1 style="text-align: center; font-weight:bolder; color: #002d72">CHECKPOINT</h1>
<div style="display: flex; justify-content:space-between; margin: 0 10px 20px 10px">
    <button class="btn btn-primary">
        <a style="text-decoration: none; color: #FFFFFF" asp-page="Create">Create New</a>
    </button>
    @*<form method="post">
           <button class="btn btn-danger" type="submit">Reset All</button>
    </form>*@
</div>
<section class="intro">
  <div class="bg-image h-100" style="background-color: #f5f7fa;">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="justify-content-center">
          <div>
            <div class="card">
              <div class="card-body p-0">
                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 520px">
                  <table class="table table-striped mb-0">
                    <thead style="background-color: #002d72; color: #fff">
                      <tr style="text-align:center">
                        <th scope="col"> @Html.DisplayNameFor(model => model.Checkpoints[0].Code)</th>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Checkpoints[0].Name)</th>
                        <th scope="col"> Default Value</th>
                        <th scope="col"></th>
                      	<th>Action</th>
				      </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Checkpoints) {
                            <tr style="text-align:center">
                                <td>@Html.DisplayFor(modelItem => item.Code)</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.DefaultValue)</td>
                                <td>
                                <td>
                                    <button class="btn btn-warning">
                                        <a style="text-decoration: none; color: #FFFFFF" asp-page="./Update" asp-route-id="@item.Id">Update</a>
                                    </button> 
                                    <button class="btn btn-danger">
                                        <a style="text-decoration: none; color: #FFFFFF" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                                    </button>                                   
                                </td>
                            </tr>
                         }             
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>